<div class="card mt-5">
    <div class="card-body p-3">
        <h1>
            Adicionar receita
        </h1>
        <form action="/receitas/add" method="post">
            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo da receita"><br>
            <input type="text" name="descricao" id="descricao" class="form-control"
                placeholder="Descrição da receita"><br>
            <input type="text" name="autor" id="autor" class="form-control" placeholder="Autor da receita"><br>
            <textarea class="form-control" name="conteudo" id="conteudo" cols="30" rows="10"
                placeholder="Conteudo da receita"></textarea><br>
            <button type="submit" class="btn btn-success">
                Adicionar receita
            </button>
        </form>
        <a href="/">Retornar ao início</a>
    </div>
</div>